.ListItem {
  transition: background 0.3s ease;
}

html, body, #react-app {
  height: 100%;
  width: 100%;
}

.ListItem--selected {
  background-color: #ECF0F1;
}

.App {
  position: relative;
  max-width: 480px;
  height: 100%;
  margin: 0 auto;
}

.Import, .Player {
  z-index: 1;
}

.Import {
  position: relative;
  background: #eee;
  top: 0;
  width: 100%;
}

.Player {
  position: fixed;
  max-width: 480px;
  bottom: 0;
  background: #eee;
  width: 100%;
}

.Player__Name {
  text-align: center;
  font-weight: lighter;
}

.Player__Controls {
  font-size: 32px;
  text-align: center;
  position: relative;
  height: 64px;
}

.Prev,
.Play,
.Next {
  position: absolute;
  left: -24px;
}

.Import__TextField,
.Import__RaisedButton {
  position: absolute;
}

.Import__TextField {
  left: 15px;
}
